body {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-width: 0;
    cursor: pointer;
}

#menu {
    position: relative;
    list-style-type: none;
    padding-left: 5px;
    z-index: 1000;
    /* 1 */
    display: inline-block;
    text-align: center;
}

#menu li {
    margin: 2px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #ffff80;
}

#menu li:hover {
    background-color: #ffDD60;
}

#forPuzzle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffdd;
    overflow: hidden;
}

.polypiece {
    display: block;
    overflow: hidden;
    position: absolute;
}

.moving {
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.gameCanvas {
    display: none;
    overflow: hidden;
    position: absolute;
}

.dimmed {
    color: #888888;
}

#selectLevelScreen {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.level-card {
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.level-card img {
    width: 100%;
    border-radius: 10px;
}
.overlay {
    position: fixed;
    inset: 0;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#levelList {
    display: flex;
    gap: 80px;
}

.level-card {
    width: 160px;
    cursor: pointer;
    text-align: center;
}

.level-card img {
    width: 200px;
    height: 250px;
    border-radius: 30px;
    border: 5px solid #ff0000;
}

.level-card.locked {
    opacity: 0.4;
    pointer-events: none;
}
.fs-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 20px;
}
