body {
    background: #000;
}

#mobile-controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
}

.control-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    touch-action: none;
}
