body {
    /*background: radial-gradient(circle at center, #0a0a0a 0%, #000000 100%);*/
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    background: #94a3b8;
}

input::placeholder {
    color: #94a3b8;
}

canvas {
    width: 1024px;
    height: 576px;
    background-image: url("../images/Orbital Alliance/webb-dark.png");
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}
