body {
    background: none repeat scroll 0 0 #7FCA74;
    width: 100%;
    margin: 0;
    font-family: "Arial Narrow", Arial, serif;
}

.mainBox {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 auto;
    padding-left: 3px;
    padding-top: 3px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
    height: 499px;
    width: 500px;
}

.box {
    /*background-image: url(https://s3-ap-southeast-1.amazonaws.com/dearsaiftest/cats.jpg) !important;*/
    /*background-image: url(../images/Puzzle-craft/L1.webp) !important;*/
    border-radius: 10px;
    border: 1px solid #72726E;
    float: left;
    font-family: arial, "Comic Sans MS", cursive;
    font-size: 57pt;
    height: 103px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    width: 120px;
    color: #34452C;
    padding-top: 17px;
}

.activeBox {
    background: #34452c;
    background-image: none;
    border-radius: 10px;
    border: 1px solid #72726E;
    float: left;
    height: 120px;
    width: 120px;
    margin: 1px;
}

.clickable {
    background: #ccc;
    border-radius: 10px;
    border: 1px solid #72726E;
    cursor: pointer;
}

.clickable:hover {
    background: #34452c;
    color: #FFF;
}

#levelScreen {
    text-align: center;
    margin-top: 20px;
}

#levelGrid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
}

.levelItem {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 3px solid #34452c;
    cursor: pointer;
    position: relative;
    transition: transform .25s;
}

.levelItem:hover {
    transform: scale(1.05);
}

.levelNumber {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0,0,0,0.7);
    padding: 3px 8px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.locked {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.note {
    background-color: #C3D4BB;
    font-family: Arial, Helvetica, serif;
    padding: 5px 5px 10px;
    text-align: center;
    width: 39%;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0 20px;
}

#timeLeft {
    color: #fff;
    display: table;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 25px auto;

}

#timeLeft > div {
    padding: 10px;
    border-radius: 3px;
    background: #caf7c4;
    color: #000;
    display: table-cell;
    border: 1px solid #bbb;
}

#timeLeft div > span {
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    background: #34452c;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

h3, h5 {
    margin: 10px;
    color: #34452c;
    text-align: center;
}

#demoPic {
    margin-left: 10px !important;
    /*background-image: url(https://s3-ap-southeast-1.amazonaws.com/dearsaiftest/cats.jpg) !important;*/
    background-size: 155px !important;
    background-repeat: no-repeat !important;
    height: 150px;
    width: 155px;
    padding: 0 !important;
}