body {
    margin: 0;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 10px solid #2e2c2c;
    /*width: 100%;*/
    /*height: 100%;*/
}
